@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-white: #e7e6d3f3;
}

body {
    font-family: "Helvetica", sans-serif !important;  
}

.main {
    margin: 2rem;
}

nav a.nav-link {
    
    letter-spacing: 0.0375rem;
    cursor: pointer;
 }

.logo {
    width: 100px;
}

nav ul li {
    
    font-size: small;
    
}

.navbar-nav > li > a {
    color: var(--primary-white) !important;
    margin-left: 12px;
    margin-right: 12px;
    font-size: larger;
    border-bottom: 2px solid black;
}

.navbar-brand {
    max-width: 140px !important;
    padding: 0 !important;
    height: 28px;
}



.navbar-nav > li > a:hover {
    border-bottom: 2px solid orange;
}

.navbar-toggler.focus, .navbar-toggler:focus {
    
    outline: none;
    box-shadow: none !important;
}

.row ul li {
    background-color: black !important;
    color: white;
    padding: 2px;
}

.row a {
    background-color: black;
    color: rgb(202, 177, 177);
    text-decoration: none;
    
}

.row a:hover {
    color:rgb(239, 248, 245) ;
}

.main-footer {
    background-color: black;
}

@media screen and (max-width: 991px) {
    .row ul li {
        
        padding: 0px;
    }
}

.img2 {
    width: 300px;
    background-color: white;
}

